# Neon DB URL — apna URL yahan paste karo
DATABASE_URL="postgresql://neondb_owner:npg_TPHs3Ad5qhne@ep-restless-butterfly-amhl3k1h-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_API_URL="http://localhost:3000"
